/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@font-face {
    font-family: fontPixel;
    src: url(/font/Big\ Pixel\ demo.otf);
} /* ! FUENTES */

* { /* ! Reset general */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root { /* ! Variables de color */
    /* color */
    --color-verde: #94e475;
    --color-verde-clarito: #b4f08d;
    --color--negro-transparente:  rgba(34, 34, 34, 0.329);
    --color--negro--nav: rgba(24, 24, 24, 0.575);
    --color--blanco: #ffffff;
    /* background */
    --background: /* linear-gradient(180deg, #822779 0%, rgba(99, 10, 254, 0.00) 100%) */ #ddd;
}

body {
    background-color: var(--color--blanco);
    font-family: 'Mulish', sans-serif; 
    font-weight: 300; background: var(--background);
    background-repeat: no-repeat;
} 



.nosotros section:nth-of-type(2) > div > h2,
label {color: var(--color--blanco);}

h1,
h2 {font-size: 1.6rem; text-align: center;}

h1,
h2,
h3,
span,
footer > p {
    font-weight: 700;
}

main  div  h1 span, 
.consolas-main section  div  h2 { 
    font-weight: 400;
}

form > h3,
hr { color: var(--color-verde);}

/* ! Propiedades para el index.html */
header { /* Propiedades header */
    height: 100vh;
    background: url(/logo/Logo-consoleye.png); /* Agrego imagen logo de la pagina */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw;
} /* Termina propiedades header */

header > div { /* Propiedades para capa header */
    width: 90%;
    height: 80%;
    background-color: var(--color--negro-transparente);
} 

main > div > p {
    color: var(--color--negro--nav);
    font-size: 1.2rem;
}

main > .main-index,
.carousel-inner  {
    border: 3px solid var(--color-verde-clarito);
    background-color: var(--color--blanco);
}

@media(max-width: 767px) {
    header { 
        background-size: 60vw;
    } 
    
    main > div > p {
        color: var(--color--negro--nav);
        font-size: .9rem;
    }

    h1,
    h2 {font-size: 1rem;}

}


ul .navbar-nav { /* Propiedades de la lista */
    align-items: center;
}
a { /* Propiedeas del enlace dentro de la lista (NAV) */
    font-family: fontPixel;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-verde-clarito);
}


.boton-nav { /* Propiedades del botón de navegación */
    position: relative;
    border: none;
    outline: none;
    transition: 0.5s;
    overflow: hidden;
}
.boton-nav span { 
    position: absolute;
    background-color: var(--color-verde-clarito);
    transition: 0.3s;
}
.boton-nav span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.boton-nav span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.boton-nav span:nth-child(3) {
    width: 1px;
    height: 50%;
    left: 0;
    bottom: -100%;
}
.boton-nav span:nth-child(4) {
    width: 1px;
    height: 50%;
    right: 0;
    top: -100%;
}
.boton-nav:hover span:nth-child(1) {
    left: 0;
}
.boton-nav:hover span:nth-child(2) {
    right: 0;
}
.boton-nav:hover span:nth-child(3) {
    bottom: 0;
}
.boton-nav:hover span:nth-child(4) {
    top: 0;
} /* Termina propiedades del boton de navegacion */

@media (max-width: 991px) { /* Estilos para pantallas más pequeñas */
    ul {
        margin: 0;
        display: flex;
        align-items: start;
        padding: 5px 0;
        width: 100%;
    }
    li {
        margin-top: 10px;
    }
    .icono-bienvenido {
        display: none;
    }
}

/* ! Propiedades para el main */
.card-body > a {
    color: var(--color--negro-transparente);
    background-color: var(--color-verde-clarito);
    border: 1px solid var(--color-verde-clarito);
    transition: .5s;
}

.card-body > a:hover {
    color: var(--color--blanco);
    background-color: var(--color-verde);
}

.carta {
    border: 3px solid var(--color-verde-clarito);
    box-shadow: none;
    transition: .3s ease;
}

.carta-1:hover {
    transform: translate(-5%, -5%);
    box-shadow: 10px 15px 10px var(--color--negro-transparente);
}
.carta-2:hover {
    transform: translate(5%, -5%);
    box-shadow: -10px 15px 10px var(--color--negro-transparente);
    
}
.carta-3:hover {
    transform: translate(-5%, 5%);
    box-shadow: 10px -15px 10px var(--color--negro-transparente);
    
}
.carta-4:hover {
    transform: translate(5%, 5%);
    box-shadow: -10px -15px 10px var(--color--negro-transparente);
}

@media(max-width: 767px) {

    .carta-1:hover {
        transform: none;
        box-shadow: none;
    }
    .carta-2:hover {
        transform: none;
        box-shadow: none;
    }
    .carta-3:hover {
        transform: none;
        box-shadow: none;
    }
    .carta-4:hover {
        transform: none;
        box-shadow: none;
    }
}

form {
    background-color: var(--color--blanco);
    border: 2px solid var(--color-verde-clarito);
}

form > h3 {
    font-size: clamp(1.5vw, 5vw, 3rem);
    font-family: fontPixel;
}

label {
    color: var(--color--negro-transparente);
    font-weight: 400;
}


form>input {
    text-align: center;
    color: var(--color--negro-transparente);
    font-size: 1.2rem;
    border: var(--color--blanco);
}

textarea,
input {
    background-color: var(--color--negro-transparente);
}

.btn-form {
    width: 100px;
    font-size: 1.1rem;
    border: none;
    transform: translateY(0);
    transition: .3s;
}

.clarito-form { /* btn enviar */
    background-color: var(--color-verde);
}

.oscuro-form { /* btn borrar */
    background-color: var(--color--negro-transparente);
}

.clarito-form:hover {
    background-color: var(--color--negro-transparente);
}

.oscuro-form:hover {
    background-color: var(--color-verde);
}

/* ! Menu para las demas paginas (consolas, nosotros, contacto y carrito) */
.head {
    height: auto;
    background-image: none; 
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}
.head > nav  {
    width: 100%;
    border-radius: 15px;
    background: var(--color--negro--nav);
} /* ! Aca termina las propiedades */

/* ! Propiedades para la pagina "consolas" */
.menu { /*  Propiedades para el submenu (consolas) */
    position: relative;
}
.submenu {
    position: absolute;
    width: auto;
    height: auto;
    top: -500%;
    left: -45%;   
}
.menu:hover .submenu {
    display: block;
    top: 100%;
    transition: .5s;
}
.submenu > li {
    background-color: var(--color--negro--nav);
    height: auto;
    width: auto;
    z-index: -1;
}
.submenu > li > a {
    transition: .3s;
}
.submenu > li > a:hover {
    color: var(--color--blanco);
}
.submenu > li:nth-child(4) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} /* Terminan las propiedades para el submenu*/

@media(max-width: 768px) {
    .menu:hover .submenu {
        display: none;
    }
}

.btn-consolas {
    text-align: center;
    padding: 6px 0;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    border: 1px solid var(--color-verde);
    color: var(--color--negro-transparente);
    background-color: var(--color-verde-clarito);
    transition: .3s;
}
.btn-consolas:hover {
    color: var(--color--blanco);
    background-color: var(--color-verde);
}


.consolas-main section  div  h2 { /* Propiedades dentro del main */
    color: var(--color--negro-transparente);
    font-size: 1.5rem;
    text-align: center;
}

.card-consolas {
    transform: translateY(0);
    transition: .3s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-consolas:hover {
    transform: translateY(2%);
}

.consolas-main > section {
    background-color: var(--color--blanco);
}

.img-consolas > img {
    border: 2px solid var(--color-verde-clarito);
    border-radius: 15px;
}
/* ! Termina las propiedades para consolas.html */

/* ! Propiedades para nosotros.html */
.nosotros  section div:nth-of-type(1), .nosotros  section div:nth-of-type(2) { /* La clase .nosotros (main) */
    background-color: var(--color--negro-transparente);
    border-radius: 15px;
    height: 5rem;
}
.redes { 
    height: 50px;
    background-color: var(--color--blanco);
    border-radius: 15px;
    transform: translateY(0);
    transition: .3s;
    animation: meditando;
}   
.redes:hover {
    transform: translateY(-10%);
    box-shadow: 0px 5px 10px var(--color--negro-transparente);
}

@media(max-width: 768px) {
    .redes { 
        transform: none;
        transition: none;
        animation: none;
    }   
    .redes:hover {
        transform: none;
        box-shadow: none;
    }
}
/*---------------------------------------------------------*/

/* ! Propiedades para index.html/carrito.html (footer) */
.redes button, /* Incluye para .redes una clase de nosotros.html */
.carrito-main section  div  ul  button {
    transform: translateY(0);
    border: none;
    transition: .3s;
} 

.carrito-main section  div  ul  button {
    transition: .3s;
}   

.redes button:hover,
.carrito-main section  div  ul  a:hover {
    transform: translateY(-10%);
}   

.tarjetas img {
    width: 65px;
}

footer{
    border-top: 2px solid var(--color-verde-clarito);
    background-color: var(--color--blanco);
}

footer > p {
    color: var(--color--negro-transparente);
}

footer > ul {
    height: 40px;
    transform: translateY(-5%);
    box-shadow: 0px 5px 10px var(--color--negro-transparente);
    transition: .3s;
}

footer > ul:hover {
    transform: translateY(5%);
    box-shadow: none;
}

footer > ul > li > a {
    color: var(--color-verde);
}

@media(max-width: 767px) {
    .redes button:hover,
    .carrito-main section  div  ul  a:hover {
        transform: none;
    }   

    .tarjetas img {
        width: 65px;
    }

    footer > ul {
        height: 40px;
        transform: none;
        box-shadow: none;
        transition: none;
        gap: 1rem;
    }
    
    footer > ul:hover {
        transform: none;
    }
}

.card-header {
    background-color: var(--color--blanco);
}
/*---------------------------------------------------------*/



/* ! Estilos modo oscuro */
.switch { /* Creamos el boton */
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 2px solid var(--color-verde-clarito);
    border-radius: 100px;
    background-color: var(--background);
}

.ul-modo .switch::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--color-verde-clarito);
    left: 0;
    right: unset;
    margin: 1px;
}

.ul-modo .switch.active::before {
    right: 0;
    left: unset;
}

.ul-modo .switch.active {
    background-color: var(--color--blanco);
}


body.active {
    background-color: #1f242e;
}



body.active  main > div > p {
    color: var(--background);
}

body.active 
main > .main-index,
.carousel-inner  {
    color: var(--color--blanco);
    border: 3px solid var(--color-verde-clarito);
    background-color: #323947;
}

body.active .card {
    background-color: #323947;
    color: var(--color--blanco);
    border: none;
}

body.active form {
    background-color: #323947;
}

body.active label {
    color: var(--color--blanco);
}

body.active footer{
    background-color: #323947;
}

body.active footer > p {
    color: var(--color--blanco);
}

body.active .redes {
    background-color: #323947;
}

body.active .nosotros {
    color: var(--color--blanco);
}

body.active .card-header {
    background-color: #323947;
    color: var(--color--blanco);
}

body.active .card-body {
    background-color: #323947;
}

body.active h2 {
    color: var(--color--blanco);
}

body.active .consolas-main h1 {
    color: var(--color--blanco);
}

body.active .consolas-main section {
    background-color: #323947;
}

body.active .consolas-main h2 {
    color: var(--color--blanco);
}

body.active .consolas-main {
    color: var(--color--blanco);
}

@media(max-width: 767px) {

    body.active .carta-1:hover {
        transform: none;
        box-shadow: none;
    }
    body.active .carta-2:hover {
        transform: none;
        box-shadow: none;
    }
    body.active  .carta-3:hover {
        transform: none;
        box-shadow: none;
    }
    body.active  .carta-4:hover {
        transform: none;
        box-shadow: none;
    }
}
/*---------------------------------------------------------*/
